<div class="mt-5">
  <form method="POST">

    <div class="input-group mb-3">
      <label>key wor</label>

      <input
        type="text"
        name="search"
        id="search-input"
        class="form-control"
        placeholder="Nhap tu khoa tim kiem"
        aria-label="Example text with button addon"
        aria-describedby="button-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <select name="gender" id="gender-input">Tu khoa
        <option value="">---Chon gioi tinh---</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
      </select>
    </div>
    <button
      class="btn btn-outline-secondary"
      type="submit"
      id="button-addon1"
    >Search</button>
  </form>
</div>